html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  /*font-family: helvetica;*/
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 700;
}

canvas {
  width: 900px;
  margin: auto;
  background: black;
  border: 1px solid #ccc;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
.canvasHolder {
  width: 900px;
  margin: auto;
}

h1 {
  position: relative;
  background: #fff;
  display: inline-block;
  text-shadow: 3px 3px rgba(0,0,0,0.6);
}
h1::before,
h1::after {
  content: '';
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  mix-blend-mode: screen;
  pointer-events: none;
}
h1::before {
  background: linear-gradient(to left top, #000, #fff);
}
h1::after {
  content: "Parallel Universe";
  mix-blend-mode: multiply;
}